src/*.exe
src/honeycomb
src/honeycombd
src/test_honeycomb
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.honeycomb

# Compilation and Qt preprocessor part
*.qm
Makefile
honeycomb-qt
Honeycomb-Qt.app

# Unit-tests
Makefile.test
honeycomb-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
